.ui-keyboard-button, .backspace, .tab, .caps-lock-button, .space, .enter, .small-shift, .ctrl {
    position: absolute;
    height: 50px;
    width: 50px;
    background: black;
    border: 1px solid #aaa;

    /*padding: 0 0.5em;*/
    margin: 50px;
    /*width: 30px;*/
    /*height: 30px;*/
    line-height: 50px;
    vertical-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    border-radius: 5px;
    /*-webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);*/
    /*background: grey;*/
    /*background-image: -webkit-linear-gradient(-90deg, white 0%, #e3e3e3 100%);*/
    /*background-image:         linear-gradient(-90deg, white 0%, #e3e3e3 100%);*/
    cursor: pointer;
    overflow: hidden;
    /*-moz-user-focus: ignore;*/
}

.selected-button {
    background: blue;
}

.hidden {
    display: none;
}

.backspace {
    width: 130px;
}

.tab {
    width: 75px;
}

.space {
    width: 355px;
}

.enter {
    width: 135px;
}

.small-shift {
    width: 80px;
}

.ctrl {
    width: 70px;
}

.caps-lock-button {
    width: 100px;
}